/* roboto-condensed-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../font/roboto-condensed/roboto-condensed-v19-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/roboto-condensed/roboto-condensed-v19-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-700 - latin_chinese-simplified */
@font-face {
    font-family: 'Noto Serif SC';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
        url('../font/noto-serif-jp/noto-serif-sc-v8-latin_chinese-simplified-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/noto-serif-jp/noto-serif-sc-v8-latin_chinese-simplified-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* noto-serif-jp-700 - latin_japanese */
@font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
        url('../font/noto-serif-jp/noto-serif-jp-v8-latin_japanese-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/noto-serif-jp/noto-serif-jp-v8-latin_japanese-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}