html {
  font-family: "Noto Serif JP", "Noto Serif SC", serif;
  font-size: calc(100vh / 140);
}

* {
  margin: 0px;
  padding: 0px;
}

$transition: all 0.2s ease-out;
$transition-fluent: all 3s cubic-bezier(0.02, 0.73, 0, 0.92);
$bezier-fluent: cubic-bezier(0.02, 0.73, 0, 0.92);

body {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #000;
  height: 100%;
}

/** LOGO **/
.logo-wrapper {
  z-index: 1999;
}

.logo {
  z-index: 1999;
  position: absolute;
  top: 40px;
  right: 60px;
  height: 18%;
  width: 9%;
  max-height: 352px;
  max-width: 580px;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  transition: 1.4s cubic-bezier(0.23, 1, 0.32, 1);

  &.sp {
    height: 9%;
    width: 18%;
    top: 70px;
    max-height: 138px;
    max-width: 445px;
    background-image: url("../img/logo_sp.png");
  }

  &.en {
    background-image: url("../img/logo_en.png");
  }

  &.sp.en {
    background-image: url("../img/logo_sp_en.png");
  }
}

.console {
  --display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 500px;
  height: auto;
  text-align: left;
  font-family: "Consolas", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 9999;
  color: #e6e6e6;
  font-size: 1.4rem;
  padding-left: 0.4rem;
  background: rgba(0, 0, 0, 0.5);
  display: var(--display);
  white-space: nowrap;

  * {
    list-style-type: none;
  }
}

.hide {
  display: none;
}

.iframe {
  display: none;
}

.transparent {
  opacity: 0;
}