html {
  font-family: "Noto Serif JP", "Noto Serif SC", serif;
  font-size: calc(100vh / 140);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #000;
  height: 100%;
}

/** LOGO **/
.logo-wrapper {
  z-index: 1999;
}

.logo {
  display: none;
  z-index: 1999;
  position: absolute;
  top: 40px;
  right: 60px;
  height: 18%;
  width: 9%;
  max-height: 352px;
  max-width: 580px;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

.logo.sp {
  height: 9%;
  width: 18%;
  top: 70px;
  max-height: 138px;
  max-width: 445px;
  background-image: url("../img/logo_sp.png");
}

.logo.en {
  background-image: url("../img/logo_en.png");
}

.logo.sp.en {
  background-image: url("../img/logo_sp_en.png");
}

.console {
  --display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 500px;
  height: auto;
  text-align: left;
  font-family: "Consolas", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 9999;
  color: #e6e6e6;
  font-size: 1.4rem;
  padding-left: 0.4rem;
  background: rgba(0, 0, 0, 0.5);
  display: var(--display);
  white-space: nowrap;
}

.console * {
  list-style-type: none;
}

.bg_canvas {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: 999 !important;
}

.hide {
  display: none;
}

.iframe {
  display: none;
}

.transparent {
  opacity: 0;
}

.animated {
  animation-fill-mode: both;
}

.animated.delay-0 {
  animation-delay: 1s;
}

.animated.delay-1 {
  animation-delay: 1.5s;
}

.animated.delay-2 {
  animation-delay: 1.7s;
}

.animated.delay-3 {
  animation-delay: 1.9s;
}

.animated.delay-4 {
  animation-delay: 2s;
}

.animated.delay-5 {
  animation-delay: 2.25s;
}

.animated.delay-6 {
  animation-delay: 3s;
}

.animated.delay-7 {
  animation-delay: 3.15s;
}

.animated.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
