.widget {
    position: absolute;
    bottom: 10%;
    right: 60px;
    z-index: 1899;
    /* width: min(35%, 35rem); */
}

/** WIDGET EVENTS **/

.widget .events {
    --charaface-width: 12rem;
    --charaface-height: 12rem;
}

.widget .events .texts,
.widget .events .illust {
    opacity: 0;
    margin-top: 1.1rem;
}

.widget .events .card.is-op .texts,
.widget .events .card.is-op .illust {
    opacity: 1;
}

.widget .events .texts {
    position: relative;
    letter-spacing: normal;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.widget .events .card.is-op .texts {
    animation-name: fadeInUp;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
}

.widget .events .card.is-op .texts:hover {
    opacity: 0.72;
}

.widget .events .card.is-op .texts:hover:before,
.widget .events .card.is-op .texts:hover:after {
    display: none;
}

.widget .events .texts .text-body {
    opacity: 0;
    background: rgba(0, 0, 0, 0.82);
    padding: 1.8rem 3rem;
    box-sizing: border-box;
    transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1) 1s;
}

.widget .events .card.is-op .texts .text-body {
    opacity: 1;
}

.widget .events .texts:before,
.widget .events .texts:after {
    content: '';
    width: 0%;
    height: 0%;
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
}

.widget .events .texts:before {
    top: 0px;
    left: 0px;
    border-top: 0.22rem solid #000;
    border-left: 0.22rem solid #000;
}

.widget .events .texts:after {
    right: 0px;
    bottom: 0px;
    border-right: 0.22rem solid #000;
    border-bottom: 0.22rem solid #000;
}

.widget .events .card.is-op .texts:before,
.widget .events .card.is-op .texts:after {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.5s, height 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.5s, opacity 0s ease 0.5s;
}

.widget .events .text-body .text {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 0.2rem;
    text-align: center;
    width: 100%;
    opacity: 1;
}

.widget .events .text-body .date {
    color: #42BFB2;
    font-family: 'Roboto Condensed';
    line-height: 1.4;
    margin-right: 0.9rem;
    font-size: 1.8rem;
    font-weight: 600;
    opacity: 1;
}

.widget .events .illust {
    --ratio: calc(480 / 550);
    --height: 13.5rem;
    --delay: 0s;
    --shadow-width: 0.22rem;
    height: var(--height);
    text-align: center;
}

.widget .events .illust.story {
    --ratio: calc(1500 / 1900);
    --height: 16rem;
    --shadow-width: 0.16rem;
}

.widget .events .illust.anniversary {
    --ratio: calc(30 / 12);
    --height: 11rem;
    --shadow-width: 0;
}

.widget .events .card.is-op .illust.anniversary .charaface {
    animation-name: fadeInUp !important;
}

.widget .events .illust .charaface {
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: center;
    background-position: center;
    height: var(--height);
    width: calc(var(--ratio) * var(--height));
    display: inline-block;
    opacity: 0;
    margin-left: -2rem;
    margin-right: -2rem;
    filter: drop-shadow(var(--shadow-width) 0px 0 #fff) drop-shadow(calc(-0.76 * var(--shadow-width)) 0px 0 #fff) drop-shadow(0px var(--shadow-width) 0 #fff) drop-shadow(0px calc(-0.76 * var(--shadow-width)) 0 #fff);
}

.widget .events .card.is-op .illust .charaface {
    --animation-duration: 1.8s;
    opacity: 1;
    transition: opacity 0s linear calc(var(--delay) + var(--animation-duration));
    animation-duration: var(--animation-duration);
    animation-name: fadeInLeft;
    animation-delay: var(--delay);
}

.widget .events .illust .charaface:nth-child(1) {
    --delay: 0s;
}

.widget .events .illust .charaface:nth-child(2) {
    --delay: 0.1s;
}

.widget .events .illust .charaface:nth-child(3) {
    --delay: 0.2s;
}

.widget .events .illust .charaface:nth-child(4) {
    --delay: 0.3s;
}

.widget .events .birthday .illust.story {
    height: 46rem;
}

.widget .events .birthday .illust.story .charaface:nth-child(1) {
    --height: 16rem;
    margin-right: -4rem;
    margin-bottom: 5rem;
}

.widget .events .birthday .illust.story .charaface:nth-child(2) {
    --height: 46rem;
    --ratio: 0.6715;
    margin-left: -5rem;
    margin-right: -8rem;
}

/** WIDGET MUSIC & PLAYER **/

.widget .music .sources {
    display: none;
}

.widget .player {
    position: relative;
    height: 6.448rem;
    padding: 0px 0 0 0;
    color: #fff;
    background: #000;
    line-height: 1em;
    overflow: hidden;
    display: flex;
    padding: 0rem 1.54rem;
    width: 32rem;
}

.widget .player .control {
    display: flex;
    align-items: center;
    margin-right: 1.34rem;
}

.widget .player .control.secondary {
    margin-left: auto;
    margin-right: 0;
}

.widget .player .control button {
    border-radius: 0;
    border: 0;
    cursor: pointer;
    transition: 0.3s all ease-in;
    text-indent: -9999px;
    width: 3.38rem;
    height: 3.38rem;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    outline: none;
    transition: none;
}

.widget .player .control button {
    margin-right: 0.4rem;
}


.widget .player .control button:last-child {
    margin-right: 0;
}


.widget .player .control.secondary button {
    width: 2.6rem;
    height: 2.6rem;
}

.widget .player .control .play {
    background: url(../img/btn_play_on.png) center center no-repeat;
    background-size: 100% auto;
}

.widget .player .control .stop {
    background: url(../img/btn_stop_on.png) center center no-repeat;
    background-size: 100% auto;
}

.widget .player .content {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.widget .player .content .title {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "游ゴシック", YuGothic, Arial, "メイリオ", Meiryo, sans-serif;
    margin: 0px;
    font-size: 1.6rem;
    font-weight: 500;
}

.widget .player .content .no {
    font-family: 'Roboto Condensed';
    color: #42BFB2;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 0.08rem;
    margin-right: 0.4rem;
}

.widget .player .progress {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 4%;
    background-color: #42BFB2;
    box-shadow: 0rem 2rem 8rem 1.8rem #42BFB2;
    z-index: 1;
    z-index: 9;
}

.widget .mini.player {
    --button-height: 4rem;
    position: absolute;
    height: 6rem;
    width: var(--button-height);
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    transform: translateX(-100%);
}

.widget .mini.player .control {
    margin: 0px;
}

.widget .mini.player .control button {
    height: var(--button-height);
    width: var(--button-height);
}